<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chylee.fxiaoke.xjl.mapper.ActtbMapper">
    <insert id="insert" parameterType="com.chylee.fxiaoke.xjl.model.Acttb">
        insert into ACTTB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">COMPANY,</if>
            <if test="CREATOR != null">CREATOR,</if>
            <if test="USR_GROUP != null">USR_GROUP,</if>
            <if test="CREATE_DATE != null">CREATE_DATE,</if>
            <if test="MODIFIER != null">MODIFIER,</if>
            <if test="MODI_DATE != null">MODI_DATE,</if>
            <if test="FLAG != null">FLAG,</if>
            <if test="TB001 != null">TB001,</if>
            <if test="TB002 != null">TB002,</if>
            <if test="TB003 != null">TB003,</if>
            <if test="TB004 != null">TB004,</if>
            <if test="TB005 != null">TB005,</if>
            <if test="TB006 != null">TB006,</if>
            <if test="TB007 != null">TB007,</if>
            <if test="TB008 != null">TB008,</if>
            <if test="TB009 != null">TB009,</if>
            <if test="TB010 != null">TB010,</if>
            <if test="TB011 != null">TB011,</if>
            <if test="TB012 != null">TB012,</if>
            <if test="TB013 != null">TB013,</if>
            <if test="TB014 != null">TB014,</if>
            <if test="TB015 != null">TB015,</if>
            <if test="TB016 != null">TB016,</if>
            <if test="TB017 != null">TB017,</if>
            <if test="TB018 != null">TB018,</if>
            <if test="TB019 != null">TB019,</if>
            <if test="TB020 != null">TB020,</if>
            <if test="TB021 != null">TB021,</if>
            <if test="TB022 != null">TB022,</if>
            <if test="TB023 != null">TB023,</if>
            <if test="TB024 != null">TB024,</if>
            <if test="TB025 != null">TB025,</if>
            <if test="TB026 != null">TB026,</if>
            <if test="TB027 != null">TB027,</if>
            <if test="TB028 != null">TB028,</if>
            <if test="TB029 != null">TB029,</if>
            <if test="TB030 != null">TB030,</if>
            <if test="TB031 != null">TB031,</if>
            <if test="TB032 != null">TB032,</if>
            <if test="TB033 != null">TB033,</if>
            <if test="UDF01 != null">UDF01,</if>
            <if test="UDF02 != null">UDF02,</if>
            <if test="UDF03 != null">UDF03,</if>
            <if test="UDF04 != null">UDF04,</if>
            <if test="UDF05 != null">UDF05,</if>
            <if test="UDF06 != null">UDF06,</if>
            <if test="UDF51 != null">UDF51,</if>
            <if test="UDF52 != null">UDF52,</if>
            <if test="UDF53 != null">UDF53,</if>
            <if test="UDF54 != null">UDF54,</if>
            <if test="UDF55 != null">UDF55,</if>
            <if test="UDF56 != null">UDF56,</if>
            <if test="UDF07 != null">UDF07,</if>
            <if test="UDF08 != null">UDF08,</if>
            <if test="UDF09 != null">UDF09,</if>
            <if test="UDF10 != null">UDF10,</if>
            <if test="UDF11 != null">UDF11,</if>
            <if test="UDF12 != null">UDF12,</if>
            <if test="UDF57 != null">UDF57,</if>
            <if test="UDF58 != null">UDF58,</if>
            <if test="UDF59 != null">UDF59,</if>
            <if test="UDF60 != null">UDF60,</if>
            <if test="UDF61 != null">UDF61,</if>
            <if test="UDF62 != null">UDF62,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">#{COMPANY},</if>
            <if test="CREATOR != null">#{CREATOR},</if>
            <if test="USR_GROUP != null">#{USR_GROUP},</if>
            <if test="CREATE_DATE != null">#{CREATE_DATE},</if>
            <if test="MODIFIER != null">#{MODIFIER},</if>
            <if test="MODI_DATE != null">#{MODI_DATE},</if>
            <if test="FLAG != null">#{FLAG},</if>
            <if test="TB001 != null">#{TB001},</if>
            <if test="TB002 != null">#{TB002},</if>
            <if test="TB003 != null">#{TB003},</if>
            <if test="TB004 != null">#{TB004},</if>
            <if test="TB005 != null">#{TB005},</if>
            <if test="TB006 != null">#{TB006},</if>
            <if test="TB007 != null">#{TB007},</if>
            <if test="TB008 != null">#{TB008},</if>
            <if test="TB009 != null">#{TB009},</if>
            <if test="TB010 != null">#{TB010},</if>
            <if test="TB011 != null">#{TB011},</if>
            <if test="TB012 != null">#{TB012},</if>
            <if test="TB013 != null">#{TB013},</if>
            <if test="TB014 != null">#{TB014},</if>
            <if test="TB015 != null">#{TB015},</if>
            <if test="TB016 != null">#{TB016},</if>
            <if test="TB017 != null">#{TB017},</if>
            <if test="TB018 != null">#{TB018},</if>
            <if test="TB019 != null">#{TB019},</if>
            <if test="TB020 != null">#{TB020},</if>
            <if test="TB021 != null">#{TB021},</if>
            <if test="TB022 != null">#{TB022},</if>
            <if test="TB023 != null">#{TB023},</if>
            <if test="TB024 != null">#{TB024},</if>
            <if test="TB025 != null">#{TB025},</if>
            <if test="TB026 != null">#{TB026},</if>
            <if test="TB027 != null">#{TB027},</if>
            <if test="TB028 != null">#{TB028},</if>
            <if test="TB029 != null">#{TB029},</if>
            <if test="TB030 != null">#{TB030},</if>
            <if test="TB031 != null">#{TB031},</if>
            <if test="TB032 != null">#{TB032},</if>
            <if test="TB033 != null">#{TB033},</if>
            <if test="UDF01 != null">#{UDF01},</if>
            <if test="UDF02 != null">#{UDF02},</if>
            <if test="UDF03 != null">#{UDF03},</if>
            <if test="UDF04 != null">#{UDF04},</if>
            <if test="UDF05 != null">#{UDF05},</if>
            <if test="UDF06 != null">#{UDF06},</if>
            <if test="UDF51 != null">#{UDF51},</if>
            <if test="UDF52 != null">#{UDF52},</if>
            <if test="UDF53 != null">#{UDF53},</if>
            <if test="UDF54 != null">#{UDF54},</if>
            <if test="UDF55 != null">#{UDF55},</if>
            <if test="UDF56 != null">#{UDF56},</if>
            <if test="UDF07 != null">#{UDF07},</if>
            <if test="UDF08 != null">#{UDF08},</if>
            <if test="UDF09 != null">#{UDF09},</if>
            <if test="UDF10 != null">#{UDF10},</if>
            <if test="UDF11 != null">#{UDF11},</if>
            <if test="UDF12 != null">#{UDF12},</if>
            <if test="UDF57 != null">#{UDF57},</if>
            <if test="UDF58 != null">#{UDF58},</if>
            <if test="UDF59 != null">#{UDF59},</if>
            <if test="UDF60 != null">#{UDF60},</if>
            <if test="UDF61 != null">#{UDF61},</if>
            <if test="UDF62 != null">#{UDF62},</if>
        </trim>
    </insert>
</mapper>