<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chylee.fxiaoke.xjl.mapper.ActtaMapper">
    <insert id="insert" parameterType="com.chylee.fxiaoke.xjl.model.Actta">
        insert into ACTTA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">COMPANY,</if>
            <if test="CREATOR != null">CREATOR,</if>
            <if test="USR_GROUP != null">USR_GROUP,</if>
            <if test="CREATE_DATE != null">CREATE_DATE,</if>
            <if test="MODIFIER != null">MODIFIER,</if>
            <if test="MODI_DATE != null">MODI_DATE,</if>
            <if test="FLAG != null">FLAG,</if>
            <if test="TA001 != null">TA001,</if>
            <if test="TA002 != null">TA002,</if>
            <if test="TA003 != null">TA003,</if>
            <if test="TA004 != null">TA004,</if>
            <if test="TA005 != null">TA005,</if>
            <if test="TA006 != null">TA006,</if>
            <if test="TA007 != null">TA007,</if>
            <if test="TA008 != null">TA008,</if>
            <if test="TA009 != null">TA009,</if>
            <if test="TA010 != null">TA010,</if>
            <if test="TA011 != null">TA011,</if>
            <if test="TA012 != null">TA012,</if>
            <if test="TA013 != null">TA013,</if>
            <if test="TA014 != null">TA014,</if>
            <if test="TA015 != null">TA015,</if>
            <if test="TA016 != null">TA016,</if>
            <if test="TA017 != null">TA017,</if>
            <if test="TA018 != null">TA018,</if>
            <if test="TA019 != null">TA019,</if>
            <if test="TA020 != null">TA020,</if>
            <if test="TA021 != null">TA021,</if>
            <if test="TA022 != null">TA022,</if>
            <if test="TA023 != null">TA023,</if>
            <if test="TA024 != null">TA024,</if>
            <if test="TA025 != null">TA025,</if>
            <if test="TA026 != null">TA026,</if>
            <if test="TA027 != null">TA027,</if>
            <if test="TA028 != null">TA028,</if>
            <if test="TA029 != null">TA029,</if>
            <if test="TA030 != null">TA030,</if>
            <if test="TA031 != null">TA031,</if>
            <if test="TA032 != null">TA032,</if>
            <if test="UDF01 != null">UDF01,</if>
            <if test="UDF02 != null">UDF02,</if>
            <if test="UDF03 != null">UDF03,</if>
            <if test="UDF04 != null">UDF04,</if>
            <if test="UDF05 != null">UDF05,</if>
            <if test="UDF06 != null">UDF06,</if>
            <if test="UDF51 != null">UDF51,</if>
            <if test="UDF52 != null">UDF52,</if>
            <if test="UDF53 != null">UDF53,</if>
            <if test="UDF54 != null">UDF54,</if>
            <if test="UDF55 != null">UDF55,</if>
            <if test="UDF56 != null">UDF56,</if>
            <if test="UDF07 != null">UDF07,</if>
            <if test="UDF08 != null">UDF08,</if>
            <if test="UDF09 != null">UDF09,</if>
            <if test="UDF10 != null">UDF10,</if>
            <if test="UDF11 != null">UDF11,</if>
            <if test="UDF12 != null">UDF12,</if>
            <if test="UDF57 != null">UDF57,</if>
            <if test="UDF58 != null">UDF58,</if>
            <if test="UDF59 != null">UDF59,</if>
            <if test="UDF60 != null">UDF60,</if>
            <if test="UDF61 != null">UDF61,</if>
            <if test="UDF62 != null">UDF62,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">#{COMPANY},</if>
            <if test="CREATOR != null">#{CREATOR},</if>
            <if test="USR_GROUP != null">#{USR_GROUP},</if>
            <if test="CREATE_DATE != null">#{CREATE_DATE},</if>
            <if test="MODIFIER != null">#{MODIFIER},</if>
            <if test="MODI_DATE != null">#{MODI_DATE},</if>
            <if test="FLAG != null">#{FLAG},</if>
            <if test="TA001 != null">#{TA001},</if>
            <if test="TA002 != null">#{TA002},</if>
            <if test="TA003 != null">#{TA003},</if>
            <if test="TA004 != null">#{TA004},</if>
            <if test="TA005 != null">#{TA005},</if>
            <if test="TA006 != null">#{TA006},</if>
            <if test="TA007 != null">#{TA007},</if>
            <if test="TA008 != null">#{TA008},</if>
            <if test="TA009 != null">#{TA009},</if>
            <if test="TA010 != null">#{TA010},</if>
            <if test="TA011 != null">#{TA011},</if>
            <if test="TA012 != null">#{TA012},</if>
            <if test="TA013 != null">#{TA013},</if>
            <if test="TA014 != null">#{TA014},</if>
            <if test="TA015 != null">#{TA015},</if>
            <if test="TA016 != null">#{TA016},</if>
            <if test="TA017 != null">#{TA017},</if>
            <if test="TA018 != null">#{TA018},</if>
            <if test="TA019 != null">#{TA019},</if>
            <if test="TA020 != null">#{TA020},</if>
            <if test="TA021 != null">#{TA021},</if>
            <if test="TA022 != null">#{TA022},</if>
            <if test="TA023 != null">#{TA023},</if>
            <if test="TA024 != null">#{TA024},</if>
            <if test="TA025 != null">#{TA025},</if>
            <if test="TA026 != null">#{TA026},</if>
            <if test="TA027 != null">#{TA027},</if>
            <if test="TA028 != null">#{TA028},</if>
            <if test="TA029 != null">#{TA029},</if>
            <if test="TA030 != null">#{TA030},</if>
            <if test="TA031 != null">#{TA031},</if>
            <if test="TA032 != null">#{TA032},</if>
            <if test="UDF01 != null">#{UDF01},</if>
            <if test="UDF02 != null">#{UDF02},</if>
            <if test="UDF03 != null">#{UDF03},</if>
            <if test="UDF04 != null">#{UDF04},</if>
            <if test="UDF05 != null">#{UDF05},</if>
            <if test="UDF06 != null">#{UDF06},</if>
            <if test="UDF51 != null">#{UDF51},</if>
            <if test="UDF52 != null">#{UDF52},</if>
            <if test="UDF53 != null">#{UDF53},</if>
            <if test="UDF54 != null">#{UDF54},</if>
            <if test="UDF55 != null">#{UDF55},</if>
            <if test="UDF56 != null">#{UDF56},</if>
            <if test="UDF07 != null">#{UDF07},</if>
            <if test="UDF08 != null">#{UDF08},</if>
            <if test="UDF09 != null">#{UDF09},</if>
            <if test="UDF10 != null">#{UDF10},</if>
            <if test="UDF11 != null">#{UDF11},</if>
            <if test="UDF12 != null">#{UDF12},</if>
            <if test="UDF57 != null">#{UDF57},</if>
            <if test="UDF58 != null">#{UDF58},</if>
            <if test="UDF59 != null">#{UDF59},</if>
            <if test="UDF60 != null">#{UDF60},</if>
            <if test="UDF61 != null">#{UDF61},</if>
            <if test="UDF62 != null">#{UDF62},</if>
        </trim>
    </insert>
</mapper>