<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chylee.fxiaoke.xjl.mapper.CopaaMapper">
    <insert id="insert" parameterType="com.chylee.fxiaoke.xjl.model.Copaa">
        insert into COPAA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">COMPANY,</if>
            <if test="CREATOR != null">CREATOR,</if>
            <if test="USR_GROUP != null">USR_GROUP,</if>
            <if test="CREATE_DATE != null">CREATE_DATE,</if>
            <if test="MODIFIER != null">MODIFIER,</if>
            <if test="MODI_DATE != null">MODI_DATE,</if>
            <if test="FLAG != null">FLAG,</if>
            <if test="AA001 != null">AA001,</if>
            <if test="AA002 != null">AA002,</if>
            <if test="AA003 != null">AA003,</if>
            <if test="AA004 != null">AA004,</if>
            <if test="AA005 != null">AA005,</if>
            <if test="AA006 != null">AA006,</if>
            <if test="AA007 != null">AA007,</if>
            <if test="AA008 != null">AA008,</if>
            <if test="AA009 != null">AA009,</if>
            <if test="AA010 != null">AA010,</if>
            <if test="AA011 != null">AA011,</if>
            <if test="AA012 != null">AA012,</if>
            <if test="AA013 != null">AA013,</if>
            <if test="AA014 != null">AA014,</if>
            <if test="AA015 != null">AA015,</if>
            <if test="AA016 != null">AA016,</if>
            <if test="AA017 != null">AA017,</if>
            <if test="AA018 != null">AA018,</if>
            <if test="AA019 != null">AA019,</if>
            <if test="AA020 != null">AA020,</if>
            <if test="AA021 != null">AA021,</if>
            <if test="AA022 != null">AA022,</if>
            <if test="AA023 != null">AA023,</if>
            <if test="AA024 != null">AA024,</if>
            <if test="AA025 != null">AA025,</if>
            <if test="AA026 != null">AA026,</if>
            <if test="AA027 != null">AA027,</if>
            <if test="AA028 != null">AA028,</if>
            <if test="AA029 != null">AA029,</if>
            <if test="AA030 != null">AA030,</if>
            <if test="AA031 != null">AA031,</if>
            <if test="AA032 != null">AA032,</if>
            <if test="AA033 != null">AA033,</if>
            <if test="AA034 != null">AA034,</if>
            <if test="AA035 != null">AA035,</if>
            <if test="AA036 != null">AA036,</if>
            <if test="AA037 != null">AA037,</if>
            <if test="AA038 != null">AA038,</if>
            <if test="AA039 != null">AA039,</if>
            <if test="AA040 != null">AA040,</if>
            <if test="AA041 != null">AA041,</if>
            <if test="AA042 != null">AA042,</if>
            <if test="AA043 != null">AA043,</if>
            <if test="AA044 != null">AA044,</if>
            <if test="AA045 != null">AA045,</if>
            <if test="AA046 != null">AA046,</if>
            <if test="AA047 != null">AA047,</if>
            <if test="AA048 != null">AA048,</if>
            <if test="AA049 != null">AA049,</if>
            <if test="AA050 != null">AA050,</if>
            <if test="AA051 != null">AA051,</if>
            <if test="AA052 != null">AA052,</if>
            <if test="AA053 != null">AA053,</if>
            <if test="AA054 != null">AA054,</if>
            <if test="AA055 != null">AA055,</if>
            <if test="AA056 != null">AA056,</if>
            <if test="AAI01 != null">AAI01,</if>
            <if test="AAI02 != null">AAI02,</if>
            <if test="AAI03 != null">AAI03,</if>
            <if test="AAI04 != null">AAI04,</if>
            <if test="AAI05 != null">AAI05,</if>
            <if test="AAI06 != null">AAI06,</if>
            <if test="AAI07 != null">AAI07,</if>
            <if test="UDF01 != null">UDF01,</if>
            <if test="UDF02 != null">UDF02,</if>
            <if test="UDF03 != null">UDF03,</if>
            <if test="UDF04 != null">UDF04,</if>
            <if test="UDF05 != null">UDF05,</if>
            <if test="UDF06 != null">UDF06,</if>
            <if test="UDF51 != null">UDF51,</if>
            <if test="UDF52 != null">UDF52,</if>
            <if test="UDF53 != null">UDF53,</if>
            <if test="UDF54 != null">UDF54,</if>
            <if test="UDF55 != null">UDF55,</if>
            <if test="UDF56 != null">UDF56,</if>
            <if test="UDF07 != null">UDF07,</if>
            <if test="UDF08 != null">UDF08,</if>
            <if test="UDF09 != null">UDF09,</if>
            <if test="UDF10 != null">UDF10,</if>
            <if test="UDF11 != null">UDF11,</if>
            <if test="UDF12 != null">UDF12,</if>
            <if test="UDF57 != null">UDF57,</if>
            <if test="UDF58 != null">UDF58,</if>
            <if test="UDF59 != null">UDF59,</if>
            <if test="UDF60 != null">UDF60,</if>
            <if test="UDF61 != null">UDF61,</if>
            <if test="UDF62 != null">UDF62,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">#{COMPANY},</if>
            <if test="CREATOR != null">#{CREATOR},</if>
            <if test="USR_GROUP != null">#{USR_GROUP},</if>
            <if test="CREATE_DATE != null">#{CREATE_DATE},</if>
            <if test="MODIFIER != null">#{MODIFIER},</if>
            <if test="MODI_DATE != null">#{MODI_DATE},</if>
            <if test="FLAG != null">#{FLAG},</if>
            <if test="AA001 != null">#{AA001},</if>
            <if test="AA002 != null">#{AA002},</if>
            <if test="AA003 != null">#{AA003},</if>
            <if test="AA004 != null">#{AA004},</if>
            <if test="AA005 != null">#{AA005},</if>
            <if test="AA006 != null">#{AA006},</if>
            <if test="AA007 != null">#{AA007},</if>
            <if test="AA008 != null">#{AA008},</if>
            <if test="AA009 != null">#{AA009},</if>
            <if test="AA010 != null">#{AA010},</if>
            <if test="AA011 != null">#{AA011},</if>
            <if test="AA012 != null">#{AA012},</if>
            <if test="AA013 != null">#{AA013},</if>
            <if test="AA014 != null">#{AA014},</if>
            <if test="AA015 != null">#{AA015},</if>
            <if test="AA016 != null">#{AA016},</if>
            <if test="AA017 != null">#{AA017},</if>
            <if test="AA018 != null">#{AA018},</if>
            <if test="AA019 != null">#{AA019},</if>
            <if test="AA020 != null">#{AA020},</if>
            <if test="AA021 != null">#{AA021},</if>
            <if test="AA022 != null">#{AA022},</if>
            <if test="AA023 != null">#{AA023},</if>
            <if test="AA024 != null">#{AA024},</if>
            <if test="AA025 != null">#{AA025},</if>
            <if test="AA026 != null">#{AA026},</if>
            <if test="AA027 != null">#{AA027},</if>
            <if test="AA028 != null">#{AA028},</if>
            <if test="AA029 != null">#{AA029},</if>
            <if test="AA030 != null">#{AA030},</if>
            <if test="AA031 != null">#{AA031},</if>
            <if test="AA032 != null">#{AA032},</if>
            <if test="AA033 != null">#{AA033},</if>
            <if test="AA034 != null">#{AA034},</if>
            <if test="AA035 != null">#{AA035},</if>
            <if test="AA036 != null">#{AA036},</if>
            <if test="AA037 != null">#{AA037},</if>
            <if test="AA038 != null">#{AA038},</if>
            <if test="AA039 != null">#{AA039},</if>
            <if test="AA040 != null">#{AA040},</if>
            <if test="AA041 != null">#{AA041},</if>
            <if test="AA042 != null">#{AA042},</if>
            <if test="AA043 != null">#{AA043},</if>
            <if test="AA044 != null">#{AA044},</if>
            <if test="AA045 != null">#{AA045},</if>
            <if test="AA046 != null">#{AA046},</if>
            <if test="AA047 != null">#{AA047},</if>
            <if test="AA048 != null">#{AA048},</if>
            <if test="AA049 != null">#{AA049},</if>
            <if test="AA050 != null">#{AA050},</if>
            <if test="AA051 != null">#{AA051},</if>
            <if test="AA052 != null">#{AA052},</if>
            <if test="AA053 != null">#{AA053},</if>
            <if test="AA054 != null">#{AA054},</if>
            <if test="AA055 != null">#{AA055},</if>
            <if test="AA056 != null">#{AA056},</if>
            <if test="AAI01 != null">#{AAI01},</if>
            <if test="AAI02 != null">#{AAI02},</if>
            <if test="AAI03 != null">#{AAI03},</if>
            <if test="AAI04 != null">#{AAI04},</if>
            <if test="AAI05 != null">#{AAI05},</if>
            <if test="AAI06 != null">#{AAI06},</if>
            <if test="AAI07 != null">#{AAI07},</if>
            <if test="UDF01 != null">#{UDF01},</if>
            <if test="UDF02 != null">#{UDF02},</if>
            <if test="UDF03 != null">#{UDF03},</if>
            <if test="UDF04 != null">#{UDF04},</if>
            <if test="UDF05 != null">#{UDF05},</if>
            <if test="UDF06 != null">#{UDF06},</if>
            <if test="UDF51 != null">#{UDF51},</if>
            <if test="UDF52 != null">#{UDF52},</if>
            <if test="UDF53 != null">#{UDF53},</if>
            <if test="UDF54 != null">#{UDF54},</if>
            <if test="UDF55 != null">#{UDF55},</if>
            <if test="UDF56 != null">#{UDF56},</if>
            <if test="UDF07 != null">#{UDF07},</if>
            <if test="UDF08 != null">#{UDF08},</if>
            <if test="UDF09 != null">#{UDF09},</if>
            <if test="UDF10 != null">#{UDF10},</if>
            <if test="UDF11 != null">#{UDF11},</if>
            <if test="UDF12 != null">#{UDF12},</if>
            <if test="UDF57 != null">#{UDF57},</if>
            <if test="UDF58 != null">#{UDF58},</if>
            <if test="UDF59 != null">#{UDF59},</if>
            <if test="UDF60 != null">#{UDF60},</if>
            <if test="UDF61 != null">#{UDF61},</if>
            <if test="UDF62 != null">#{UDF62},</if>
        </trim>
    </insert>
</mapper>