<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chylee.fxiaoke.xjl.mapper.CopabMapper">
    <insert id="insert" parameterType="com.chylee.fxiaoke.xjl.model.Copab">
        insert into COPAB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">COMPANY,</if>
            <if test="CREATOR != null">CREATOR,</if>
            <if test="USR_GROUP != null">USR_GROUP,</if>
            <if test="CREATE_DATE != null">CREATE_DATE,</if>
            <if test="MODIFIER != null">MODIFIER,</if>
            <if test="MODI_DATE != null">MODI_DATE,</if>
            <if test="FLAG != null">FLAG,</if>
            <if test="AB001 != null">AB001,</if>
            <if test="AB002 != null">AB002,</if>
            <if test="AB003 != null">AB003,</if>
            <if test="AB004 != null">AB004,</if>
            <if test="AB005 != null">AB005,</if>
            <if test="AB006 != null">AB006,</if>
            <if test="AB007 != null">AB007,</if>
            <if test="AB008 != null">AB008,</if>
            <if test="AB009 != null">AB009,</if>
            <if test="AB010 != null">AB010,</if>
            <if test="AB011 != null">AB011,</if>
            <if test="AB012 != null">AB012,</if>
            <if test="AB013 != null">AB013,</if>
            <if test="AB014 != null">AB014,</if>
            <if test="AB015 != null">AB015,</if>
            <if test="AB016 != null">AB016,</if>
            <if test="AB017 != null">AB017,</if>
            <if test="AB018 != null">AB018,</if>
            <if test="AB019 != null">AB019,</if>
            <if test="AB020 != null">AB020,</if>
            <if test="AB021 != null">AB021,</if>
            <if test="AB022 != null">AB022,</if>
            <if test="AB023 != null">AB023,</if>
            <if test="AB024 != null">AB024,</if>
            <if test="AB025 != null">AB025,</if>
            <if test="AB026 != null">AB026,</if>
            <if test="AB027 != null">AB027,</if>
            <if test="AB028 != null">AB028,</if>
            <if test="AB029 != null">AB029,</if>
            <if test="AB030 != null">AB030,</if>
            <if test="AB031 != null">AB031,</if>
            <if test="ABI01 != null">ABI01,</if>
            <if test="ABI02 != null">ABI02,</if>
            <if test="ABI03 != null">ABI03,</if>
            <if test="ABI04 != null">ABI04,</if>
            <if test="UDF01 != null">UDF01,</if>
            <if test="UDF02 != null">UDF02,</if>
            <if test="UDF03 != null">UDF03,</if>
            <if test="UDF04 != null">UDF04,</if>
            <if test="UDF05 != null">UDF05,</if>
            <if test="UDF06 != null">UDF06,</if>
            <if test="UDF51 != null">UDF51,</if>
            <if test="UDF52 != null">UDF52,</if>
            <if test="UDF53 != null">UDF53,</if>
            <if test="UDF54 != null">UDF54,</if>
            <if test="UDF55 != null">UDF55,</if>
            <if test="UDF56 != null">UDF56,</if>
            <if test="UDF07 != null">UDF07,</if>
            <if test="UDF08 != null">UDF08,</if>
            <if test="UDF09 != null">UDF09,</if>
            <if test="UDF10 != null">UDF10,</if>
            <if test="UDF11 != null">UDF11,</if>
            <if test="UDF12 != null">UDF12,</if>
            <if test="UDF57 != null">UDF57,</if>
            <if test="UDF58 != null">UDF58,</if>
            <if test="UDF59 != null">UDF59,</if>
            <if test="UDF60 != null">UDF60,</if>
            <if test="UDF61 != null">UDF61,</if>
            <if test="UDF62 != null">UDF62,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">#{COMPANY},</if>
            <if test="CREATOR != null">#{CREATOR},</if>
            <if test="USR_GROUP != null">#{USR_GROUP},</if>
            <if test="CREATE_DATE != null">#{CREATE_DATE},</if>
            <if test="MODIFIER != null">#{MODIFIER},</if>
            <if test="MODI_DATE != null">#{MODI_DATE},</if>
            <if test="FLAG != null">#{FLAG},</if>
            <if test="AB001 != null">#{AB001},</if>
            <if test="AB002 != null">#{AB002},</if>
            <if test="AB003 != null">#{AB003},</if>
            <if test="AB004 != null">#{AB004},</if>
            <if test="AB005 != null">#{AB005},</if>
            <if test="AB006 != null">#{AB006},</if>
            <if test="AB007 != null">#{AB007},</if>
            <if test="AB008 != null">#{AB008},</if>
            <if test="AB009 != null">#{AB009},</if>
            <if test="AB010 != null">#{AB010},</if>
            <if test="AB011 != null">#{AB011},</if>
            <if test="AB012 != null">#{AB012},</if>
            <if test="AB013 != null">#{AB013},</if>
            <if test="AB014 != null">#{AB014},</if>
            <if test="AB015 != null">#{AB015},</if>
            <if test="AB016 != null">#{AB016},</if>
            <if test="AB017 != null">#{AB017},</if>
            <if test="AB018 != null">#{AB018},</if>
            <if test="AB019 != null">#{AB019},</if>
            <if test="AB020 != null">#{AB020},</if>
            <if test="AB021 != null">#{AB021},</if>
            <if test="AB022 != null">#{AB022},</if>
            <if test="AB023 != null">#{AB023},</if>
            <if test="AB024 != null">#{AB024},</if>
            <if test="AB025 != null">#{AB025},</if>
            <if test="AB026 != null">#{AB026},</if>
            <if test="AB027 != null">#{AB027},</if>
            <if test="AB028 != null">#{AB028},</if>
            <if test="AB029 != null">#{AB029},</if>
            <if test="AB030 != null">#{AB030},</if>
            <if test="AB031 != null">#{AB031},</if>
            <if test="ABI01 != null">#{ABI01},</if>
            <if test="ABI02 != null">#{ABI02},</if>
            <if test="ABI03 != null">#{ABI03},</if>
            <if test="ABI04 != null">#{ABI04},</if>
            <if test="UDF01 != null">#{UDF01},</if>
            <if test="UDF02 != null">#{UDF02},</if>
            <if test="UDF03 != null">#{UDF03},</if>
            <if test="UDF04 != null">#{UDF04},</if>
            <if test="UDF05 != null">#{UDF05},</if>
            <if test="UDF06 != null">#{UDF06},</if>
            <if test="UDF51 != null">#{UDF51},</if>
            <if test="UDF52 != null">#{UDF52},</if>
            <if test="UDF53 != null">#{UDF53},</if>
            <if test="UDF54 != null">#{UDF54},</if>
            <if test="UDF55 != null">#{UDF55},</if>
            <if test="UDF56 != null">#{UDF56},</if>
            <if test="UDF07 != null">#{UDF07},</if>
            <if test="UDF08 != null">#{UDF08},</if>
            <if test="UDF09 != null">#{UDF09},</if>
            <if test="UDF10 != null">#{UDF10},</if>
            <if test="UDF11 != null">#{UDF11},</if>
            <if test="UDF12 != null">#{UDF12},</if>
            <if test="UDF57 != null">#{UDF57},</if>
            <if test="UDF58 != null">#{UDF58},</if>
            <if test="UDF59 != null">#{UDF59},</if>
            <if test="UDF60 != null">#{UDF60},</if>
            <if test="UDF61 != null">#{UDF61},</if>
            <if test="UDF62 != null">#{UDF62},</if>
        </trim>
    </insert>
</mapper>