<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chylee.fxiaoke.xjl.mapper.CopmaMapper">
    <insert id="insert" parameterType="com.chylee.fxiaoke.xjl.model.Copma">
        insert into COPMA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">COMPANY,</if>
            <if test="CREATOR != null">CREATOR,</if>
            <if test="USR_GROUP != null">USR_GROUP,</if>
            <if test="CREATE_DATE != null">CREATE_DATE,</if>
            <if test="MODIFIER != null">MODIFIER,</if>
            <if test="MODI_DATE != null">MODI_DATE,</if>
            <if test="FLAG != null">FLAG,</if>
            <if test="MA001 != null">MA001,</if>
            <if test="MA002 != null">MA002,</if>
            <if test="MA003 != null">MA003,</if>
            <if test="MA004 != null">MA004,</if>
            <if test="MA005 != null">MA005,</if>
            <if test="MA006 != null">MA006,</if>
            <if test="MA007 != null">MA007,</if>
            <if test="MA008 != null">MA008,</if>
            <if test="MA009 != null">MA009,</if>
            <if test="MA010 != null">MA010,</if>
            <if test="MA011 != null">MA011,</if>
            <if test="MA012 != null">MA012,</if>
            <if test="MA013 != null">MA013,</if>
            <if test="MA014 != null">MA014,</if>
            <if test="MA015 != null">MA015,</if>
            <if test="MA016 != null">MA016,</if>
            <if test="MA017 != null">MA017,</if>
            <if test="MA018 != null">MA018,</if>
            <if test="MA019 != null">MA019,</if>
            <if test="MA020 != null">MA020,</if>
            <if test="MA021 != null">MA021,</if>
            <if test="MA022 != null">MA022,</if>
            <if test="MA023 != null">MA023,</if>
            <if test="MA024 != null">MA024,</if>
            <if test="MA025 != null">MA025,</if>
            <if test="MA026 != null">MA026,</if>
            <if test="MA027 != null">MA027,</if>
            <if test="MA028 != null">MA028,</if>
            <if test="MA029 != null">MA029,</if>
            <if test="MA030 != null">MA030,</if>
            <if test="MA031 != null">MA031,</if>
            <if test="MA032 != null">MA032,</if>
            <if test="MA033 != null">MA033,</if>
            <if test="MA034 != null">MA034,</if>
            <if test="MA035 != null">MA035,</if>
            <if test="MA036 != null">MA036,</if>
            <if test="MA037 != null">MA037,</if>
            <if test="MA038 != null">MA038,</if>
            <if test="MA039 != null">MA039,</if>
            <if test="MA040 != null">MA040,</if>
            <if test="MA041 != null">MA041,</if>
            <if test="MA042 != null">MA042,</if>
            <if test="MA043 != null">MA043,</if>
            <if test="MA044 != null">MA044,</if>
            <if test="MA045 != null">MA045,</if>
            <if test="MA046 != null">MA046,</if>
            <if test="MA047 != null">MA047,</if>
            <if test="MA048 != null">MA048,</if>
            <if test="MA049 != null">MA049,</if>
            <if test="MA050 != null">MA050,</if>
            <if test="MA051 != null">MA051,</if>
            <if test="MA052 != null">MA052,</if>
            <if test="MA053 != null">MA053,</if>
            <if test="MA054 != null">MA054,</if>
            <if test="MA055 != null">MA055,</if>
            <if test="MA056 != null">MA056,</if>
            <if test="MA057 != null">MA057,</if>
            <if test="MA058 != null">MA058,</if>
            <if test="MA059 != null">MA059,</if>
            <if test="MA060 != null">MA060,</if>
            <if test="MA061 != null">MA061,</if>
            <if test="MA062 != null">MA062,</if>
            <if test="MA063 != null">MA063,</if>
            <if test="MA064 != null">MA064,</if>
            <if test="MA065 != null">MA065,</if>
            <if test="MA066 != null">MA066,</if>
            <if test="MA067 != null">MA067,</if>
            <if test="MA068 != null">MA068,</if>
            <if test="MA069 != null">MA069,</if>
            <if test="MA070 != null">MA070,</if>
            <if test="MA071 != null">MA071,</if>
            <if test="MA072 != null">MA072,</if>
            <if test="MA073 != null">MA073,</if>
            <if test="MA074 != null">MA074,</if>
            <if test="MA075 != null">MA075,</if>
            <if test="MA076 != null">MA076,</if>
            <if test="MA077 != null">MA077,</if>
            <if test="MA078 != null">MA078,</if>
            <if test="MA079 != null">MA079,</if>
            <if test="MA080 != null">MA080,</if>
            <if test="MA081 != null">MA081,</if>
            <if test="MA082 != null">MA082,</if>
            <if test="MA083 != null">MA083,</if>
            <if test="MA084 != null">MA084,</if>
            <if test="MA085 != null">MA085,</if>
            <if test="MA086 != null">MA086,</if>
            <if test="MA087 != null">MA087,</if>
            <if test="MA088 != null">MA088,</if>
            <if test="MA089 != null">MA089,</if>
            <if test="MA090 != null">MA090,</if>
            <if test="MA091 != null">MA091,</if>
            <if test="MA092 != null">MA092,</if>
            <if test="MA093 != null">MA093,</if>
            <if test="MA094 != null">MA094,</if>
            <if test="MA095 != null">MA095,</if>
            <if test="MA096 != null">MA096,</if>
            <if test="MA097 != null">MA097,</if>
            <if test="MA098 != null">MA098,</if>
            <if test="MA099 != null">MA099,</if>
            <if test="MA100 != null">MA100,</if>
            <if test="MA101 != null">MA101,</if>
            <if test="MA102 != null">MA102,</if>
            <if test="MA103 != null">MA103,</if>
            <if test="MA104 != null">MA104,</if>
            <if test="MA105 != null">MA105,</if>
            <if test="MA106 != null">MA106,</if>
            <if test="MA107 != null">MA107,</if>
            <if test="MA108 != null">MA108,</if>
            <if test="MA109 != null">MA109,</if>
            <if test="MA110 != null">MA110,</if>
            <if test="MA111 != null">MA111,</if>
            <if test="MA112 != null">MA112,</if>
            <if test="MA113 != null">MA113,</if>
            <if test="MA114 != null">MA114,</if>
            <if test="MAB01 != null">MAB01,</if>
            <if test="MA115 != null">MA115,</if>
            <if test="UDF01 != null">UDF01,</if>
            <if test="UDF02 != null">UDF02,</if>
            <if test="UDF03 != null">UDF03,</if>
            <if test="UDF04 != null">UDF04,</if>
            <if test="UDF05 != null">UDF05,</if>
            <if test="UDF06 != null">UDF06,</if>
            <if test="UDF51 != null">UDF51,</if>
            <if test="UDF52 != null">UDF52,</if>
            <if test="UDF53 != null">UDF53,</if>
            <if test="UDF54 != null">UDF54,</if>
            <if test="UDF55 != null">UDF55,</if>
            <if test="UDF56 != null">UDF56,</if>
            <if test="UDF07 != null">UDF07,</if>
            <if test="UDF08 != null">UDF08,</if>
            <if test="UDF09 != null">UDF09,</if>
            <if test="UDF10 != null">UDF10,</if>
            <if test="UDF11 != null">UDF11,</if>
            <if test="UDF12 != null">UDF12,</if>
            <if test="UDF57 != null">UDF57,</if>
            <if test="UDF58 != null">UDF58,</if>
            <if test="UDF59 != null">UDF59,</if>
            <if test="UDF60 != null">UDF60,</if>
            <if test="UDF61 != null">UDF61,</if>
            <if test="UDF62 != null">UDF62,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="COMPANY != null">#{COMPANY},</if>
            <if test="CREATOR != null">#{CREATOR},</if>
            <if test="USR_GROUP != null">#{USR_GROUP},</if>
            <if test="CREATE_DATE != null">#{CREATE_DATE},</if>
            <if test="MODIFIER != null">#{MODIFIER},</if>
            <if test="MODI_DATE != null">#{MODI_DATE},</if>
            <if test="FLAG != null">#{FLAG},</if>
            <if test="MA001 != null">#{MA001},</if>
            <if test="MA002 != null">#{MA002},</if>
            <if test="MA003 != null">#{MA003},</if>
            <if test="MA004 != null">#{MA004},</if>
            <if test="MA005 != null">#{MA005},</if>
            <if test="MA006 != null">#{MA006},</if>
            <if test="MA007 != null">#{MA007},</if>
            <if test="MA008 != null">#{MA008},</if>
            <if test="MA009 != null">#{MA009},</if>
            <if test="MA010 != null">#{MA010},</if>
            <if test="MA011 != null">#{MA011},</if>
            <if test="MA012 != null">#{MA012},</if>
            <if test="MA013 != null">#{MA013},</if>
            <if test="MA014 != null">#{MA014},</if>
            <if test="MA015 != null">#{MA015},</if>
            <if test="MA016 != null">#{MA016},</if>
            <if test="MA017 != null">#{MA017},</if>
            <if test="MA018 != null">#{MA018},</if>
            <if test="MA019 != null">#{MA019},</if>
            <if test="MA020 != null">#{MA020},</if>
            <if test="MA021 != null">#{MA021},</if>
            <if test="MA022 != null">#{MA022},</if>
            <if test="MA023 != null">#{MA023},</if>
            <if test="MA024 != null">#{MA024},</if>
            <if test="MA025 != null">#{MA025},</if>
            <if test="MA026 != null">#{MA026},</if>
            <if test="MA027 != null">#{MA027},</if>
            <if test="MA028 != null">#{MA028},</if>
            <if test="MA029 != null">#{MA029},</if>
            <if test="MA030 != null">#{MA030},</if>
            <if test="MA031 != null">#{MA031},</if>
            <if test="MA032 != null">#{MA032},</if>
            <if test="MA033 != null">#{MA033},</if>
            <if test="MA034 != null">#{MA034},</if>
            <if test="MA035 != null">#{MA035},</if>
            <if test="MA036 != null">#{MA036},</if>
            <if test="MA037 != null">#{MA037},</if>
            <if test="MA038 != null">#{MA038},</if>
            <if test="MA039 != null">#{MA039},</if>
            <if test="MA040 != null">#{MA040},</if>
            <if test="MA041 != null">#{MA041},</if>
            <if test="MA042 != null">#{MA042},</if>
            <if test="MA043 != null">#{MA043},</if>
            <if test="MA044 != null">#{MA044},</if>
            <if test="MA045 != null">#{MA045},</if>
            <if test="MA046 != null">#{MA046},</if>
            <if test="MA047 != null">#{MA047},</if>
            <if test="MA048 != null">#{MA048},</if>
            <if test="MA049 != null">#{MA049},</if>
            <if test="MA050 != null">#{MA050},</if>
            <if test="MA051 != null">#{MA051},</if>
            <if test="MA052 != null">#{MA052},</if>
            <if test="MA053 != null">#{MA053},</if>
            <if test="MA054 != null">#{MA054},</if>
            <if test="MA055 != null">#{MA055},</if>
            <if test="MA056 != null">#{MA056},</if>
            <if test="MA057 != null">#{MA057},</if>
            <if test="MA058 != null">#{MA058},</if>
            <if test="MA059 != null">#{MA059},</if>
            <if test="MA060 != null">#{MA060},</if>
            <if test="MA061 != null">#{MA061},</if>
            <if test="MA062 != null">#{MA062},</if>
            <if test="MA063 != null">#{MA063},</if>
            <if test="MA064 != null">#{MA064},</if>
            <if test="MA065 != null">#{MA065},</if>
            <if test="MA066 != null">#{MA066},</if>
            <if test="MA067 != null">#{MA067},</if>
            <if test="MA068 != null">#{MA068},</if>
            <if test="MA069 != null">#{MA069},</if>
            <if test="MA070 != null">#{MA070},</if>
            <if test="MA071 != null">#{MA071},</if>
            <if test="MA072 != null">#{MA072},</if>
            <if test="MA073 != null">#{MA073},</if>
            <if test="MA074 != null">#{MA074},</if>
            <if test="MA075 != null">#{MA075},</if>
            <if test="MA076 != null">#{MA076},</if>
            <if test="MA077 != null">#{MA077},</if>
            <if test="MA078 != null">#{MA078},</if>
            <if test="MA079 != null">#{MA079},</if>
            <if test="MA080 != null">#{MA080},</if>
            <if test="MA081 != null">#{MA081},</if>
            <if test="MA082 != null">#{MA082},</if>
            <if test="MA083 != null">#{MA083},</if>
            <if test="MA084 != null">#{MA084},</if>
            <if test="MA085 != null">#{MA085},</if>
            <if test="MA086 != null">#{MA086},</if>
            <if test="MA087 != null">#{MA087},</if>
            <if test="MA088 != null">#{MA088},</if>
            <if test="MA089 != null">#{MA089},</if>
            <if test="MA090 != null">#{MA090},</if>
            <if test="MA091 != null">#{MA091},</if>
            <if test="MA092 != null">#{MA092},</if>
            <if test="MA093 != null">#{MA093},</if>
            <if test="MA094 != null">#{MA094},</if>
            <if test="MA095 != null">#{MA095},</if>
            <if test="MA096 != null">#{MA096},</if>
            <if test="MA097 != null">#{MA097},</if>
            <if test="MA098 != null">#{MA098},</if>
            <if test="MA099 != null">#{MA099},</if>
            <if test="MA100 != null">#{MA100},</if>
            <if test="MA101 != null">#{MA101},</if>
            <if test="MA102 != null">#{MA102},</if>
            <if test="MA103 != null">#{MA103},</if>
            <if test="MA104 != null">#{MA104},</if>
            <if test="MA105 != null">#{MA105},</if>
            <if test="MA106 != null">#{MA106},</if>
            <if test="MA107 != null">#{MA107},</if>
            <if test="MA108 != null">#{MA108},</if>
            <if test="MA109 != null">#{MA109},</if>
            <if test="MA110 != null">#{MA110},</if>
            <if test="MA111 != null">#{MA111},</if>
            <if test="MA112 != null">#{MA112},</if>
            <if test="MA113 != null">#{MA113},</if>
            <if test="MA114 != null">#{MA114},</if>
            <if test="MAB01 != null">#{MAB01},</if>
            <if test="MA115 != null">#{MA115},</if>
            <if test="UDF01 != null">#{UDF01},</if>
            <if test="UDF02 != null">#{UDF02},</if>
            <if test="UDF03 != null">#{UDF03},</if>
            <if test="UDF04 != null">#{UDF04},</if>
            <if test="UDF05 != null">#{UDF05},</if>
            <if test="UDF06 != null">#{UDF06},</if>
            <if test="UDF51 != null">#{UDF51},</if>
            <if test="UDF52 != null">#{UDF52},</if>
            <if test="UDF53 != null">#{UDF53},</if>
            <if test="UDF54 != null">#{UDF54},</if>
            <if test="UDF55 != null">#{UDF55},</if>
            <if test="UDF56 != null">#{UDF56},</if>
            <if test="UDF07 != null">#{UDF07},</if>
            <if test="UDF08 != null">#{UDF08},</if>
            <if test="UDF09 != null">#{UDF09},</if>
            <if test="UDF10 != null">#{UDF10},</if>
            <if test="UDF11 != null">#{UDF11},</if>
            <if test="UDF12 != null">#{UDF12},</if>
            <if test="UDF57 != null">#{UDF57},</if>
            <if test="UDF58 != null">#{UDF58},</if>
            <if test="UDF59 != null">#{UDF59},</if>
            <if test="UDF60 != null">#{UDF60},</if>
            <if test="UDF61 != null">#{UDF61},</if>
            <if test="UDF62 != null">#{UDF62},</if>
        </trim>
    </insert>
</mapper>
