<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chylee.fxiaoke.common.mapper.JobDetailMapper">
    <select id="listByStatus0" resultType="com.chylee.fxiaoke.common.model.JobDetail">
        select q.id, q.log_id,q.data_id,q.status,q.error,t.type_id
        from job_detail q,job_log t
        where t.id=q.log_id and q.status = 0 limit #{pageSize}
    </select>

    <select id="listAll" resultType="com.chylee.fxiaoke.common.model.JobDetail">
        select q.id, q.log_id,q.data_id,q.status,q.error,t.type_id
        from job_detail q,job_log t
        where t.id=q.log_id and t.type_id=#{typeId}<if test="id>0"> and a.id>#{id}</if>
    </select>

    <select id="count" resultType="Integer">
        select count(*) from job_detail
        <choose>
            <when test="logId > 0"> and log_id=#{logId}</when>
            <when test="valid &lt; 0"> and status = -1</when>
        </choose>
    </select>

    <select id="listByLogId" resultType="com.chylee.fxiaoke.common.model.JobDetail">
        select q.id,q.data_id,q.status,q.error,q.last_time,t.type_id,p.name
        from job_detail q,job_log t,job_type p
        where t.id=q.log_id and p.id = t.type_id
        <choose>
            <when test="logId > 0"> and q.log_id=#{logId}</when>
            <when test="valid &lt; 0"> and q.status = -1</when>
        </choose>
        order by q.last_time desc, q.id desc
        limit #{offset},#{pageSize}
    </select>

    <insert id="insertBatch">
        INSERT INTO job_detail (log_id, data_id)
        VALUES
        <foreach collection ="queueList" item="queue" separator =",">
            (#{queue.logId}, #{queue.dataId})
        </foreach >
    </insert>

</mapper>