<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chylee.fxiaoke.core.mapper.ErpCopmaMapper">
    <insert id="insert" parameterType="com.chylee.fxiaoke.xjl.model.Copma">
        insert into ERP_COPMA(MA001, MA002, MA003, MA005, MA006, MA007, MA008, MA016, MA023, MA027, MA085)
        values(#{MA001}, #{MA002}, #{MA003}, #{MA005}, #{MA006}, #{MA007}, #{MA008}, #{MA016}, #{MA023}, #{MA027}, #{MA085})
    </insert>
</mapper>